@using Microsoft.AspNet.Identity
@model GigHub.ViewModels.GigDetailsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>
        @Model.Gig.Artist.Name
        @if (User.Identity.IsAuthenticated)
        {
            if (Model.IsFollowing)
            {
                <button class="btn btn-info js-toggle-follow" data-user-id="@Model.Gig.ArtistId">Following</button>
            }
            else
            {
                <button class="btn btn-default js-toggle-follow" data-user-id="@Model.Gig.ArtistId">Follow</button>
            }
        }
    </h2>

    <p>
        Perfoming at <b><u>@Model.Gig.Venue</u></b> on <b>@Model.Gig.DateTime.ToString("d MMM")</b> at <b>@Model.Gig.DateTime.ToString("HH:mm")</b>
    </p>

@if(User.Identity.IsAuthenticated && Model.IsAttending)
{
    <p>You are going to this Event</p>
}

@section scripts
{

  <script>
                  //JQUERY for FOLLOWING


      $(document).ready(function () {
          GigDetailsController.init();
      });

    </script>
}

