<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700|Open+Sans:400,700" rel="stylesheet">


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GigHub", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Add a Gig", "Create", "Gigs")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - <b><u>KAKA~DANTE GIGHUB APPLICATION</u></b> - All Rights Reserved</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
    
<script type="text/x-template" id="notifications-template">
    <ul class="notifications">

        <span><center> !!-------------------------------------!! </center></span>

        <%
        _.each(notifications, function(notification){
        if (notification.type == 1) { %>
        <li> <span class="highlight"><%= notification.gig.artist.name %></span> has canceled the gig at <span class="highlight"><%= notification.gig.venue %></span> at <span class="highlight2"><%= moment(notification.gig.dateTime).format("D MMM HH:mm") %></span>.</li> @*todo TUMETUMIA MOMENT.JS APA*@
        <%}

        else if (notification.type == 2) {
        var changes = [],
        originalValues = [],
        newValues = [];

        if (notification.originalVenue != notification.gig.venue){
        changes.push ('venue');
        originalValues.push (notification.originalVenue);
        newValues.push (notification.gig.venue);
        }

        if (notification.originalDateTime != notification.gig.dateTime){
        changes.push ('date/time');
        originalValues.push (moment(notification.originalDateTime).format("D MMM HH:mm"));
        newValues.push (moment(notification.gig.dateTime).format("D MMM HH:mm"));
        }
        %>
        <li> <span class="highlight"><%= notification.gig.artist.name %></span> has changed the <span class="highlight"><%= changes.join(' and ') %></span> of the gig from <span class="highlight2"><%= originalValues.join('/') %></span> to <span class="highlight2"><%= newValues.join('/') %></span>.</li>
        <%
        }

        })
        %>
        <span><center> !!-------------------------------------!! </center></span>

    </ul>
</script>

    @*jquery ya kuita NUMBER OF NOTIFICATIONS*@
            <script>
                $(document).ready(function() {
                    $.getJSON("/api/notifications", function (notifications) {

                        //todo Incase NOTIFICATION = 0 - Isidisplay ENE
                        if (notifications.length == 0)
                            return;

                        $(".js-notifications-count")
                            .text(notifications.length)
                            .removeClass("hide")
                            .addClass("animated bounceInDown");

                        $(".notifications").popover({
                            html: true,
                            title: "Notifications",
                            content: function() {

                                //todo Izi ni za ku-TASTE CODE

                                //return "KAKA DANTE";

                                var compiled = _.template($("#notifications-template").html());
                                return compiled({ notifications: notifications });

                                //todo Adi APA

                            },
                            placement: "bottom",
                            //template: '<div class="popover popover-notifications" role="tooltip"><div class="arrow"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>'


                        }).on('shown.bs.popover', function() {
                            $.post("/api/notifications/markAsRead")
                                .done(function() {
                                    $(".js-notifications-count")
                                        .text("")
                                        .addClass("hide")
                                });
                        });
                    });
                    
                });
            </script>
            @* INAISHIA APA*@



</body>
</html>
