@using System.Activities.Statements
@using System.Web.Razor.Parser.SyntaxTree
@model GigHub.Core.ViewModels.GigsViewModel

@{
    ViewBag.Title = Model.Heading;
}

<h1>@Model.Heading</h1>

@*----- IMPLEMENTING THE SEARCH BUTTON ------------*@

@using (Html.BeginForm("Search", "Gigs"))
{
    <div class="form-group">
        <div id="searchGigs" class="input-group">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control" })
            <span class="input-group-addon" >
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    </div>
}

@*----- ------------------------------ ------------*@

<ul id="gigs" class="gigs voffset5">
    @foreach (var gig in Model.UpcomingGigs)
{
            
            @*//This is what was there before
                @gig.DateTime - @gig.Artist.Name
    
        //WITH (WEB-ESSENTIALS) PLUGIN ACTIVATED ---- ZENCODING

        //Create classes simply like this

        //(div.date>div.month+div.day)+(div.details>span.artist+span.genre)*@
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    <a href="@Url.Action("Details", "Gigs", new {id = gig.Id})">
                        @gig.Artist.Name
                    </a>

                    @if (gig.IsCanceled)
                    {
                        <span class="label label-warning">This Gig Is Canceled</span>
                    }

                    @*@if (Model.ShowActions && !gig.IsCanceled)
                    {
                        <button class="btn btn-link btn-sm pull-right js-toggle-follow" data-user-id="@gig.ArtistId">Wanna Follow?</button>
                    }*@
                </span>
                <span class="genre">
                    @gig.Genre.Name
                </span>
                @if (Model.ShowActions && !gig.IsCanceled)
                        {
                    //aka kasection kanarender BUTTONS vile zinafaa kua

                    <button data-gig-id="@gig.Id" class="btn @(Model.Attendances.Contains(gig.Id) ? "btn-warning" : "btn-default") btn-sm pull-right js-toggle-attendance">
                        Going ?
                    </button>
                }
            </div>                                                                      @*js-toggle-attendance*@
        </li>
    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function () {
            GigsController.init("#gigs");

        });
    </script>
}
